BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "AD_ACLK" SITE "40" ;
LOCATE COMP "AD_ACS" SITE "42" ;
LOCATE COMP "DEBUG_TP1" SITE "27" ;
LOCATE COMP "DEBUG_TP2" SITE "28" ;
LOCATE COMP "FEN_A" SITE "59" ;
LOCATE COMP "FEN_B" SITE "57" ;
LOCATE COMP "FEN_C" SITE "58" ;
LOCATE COMP "JA_C1" SITE "67" ;
LOCATE COMP "JA_C2" SITE "65" ;
LOCATE COMP "JA_CS" SITE "61" ;
LOCATE COMP "CLK_32M" SITE "88" ;
LOCATE COMP "AD_ADO" SITE "41" ;
LOCATE COMP "COMP_IN" SITE "51" ;
LOCATE COMP "DEBUG_TP3" SITE "29" ;
LOCATE COMP "JA_C3" SITE "63" ;
LOCATE COMP "JA_DIN" SITE "64" ;
LOCATE COMP "JA_SCK" SITE "60" ;
LOCATE COMP "LED" SITE "12" ;
LOCATE COMP "MAG1" SITE "75" ;
LOCATE COMP "MAG10" SITE "71" ;
LOCATE COMP "MAG100" SITE "69" ;
LOCATE COMP "MS_A0" SITE "68" ;
LOCATE COMP "MS_A1" SITE "70" ;
LOCATE COMP "MS_A2" SITE "74" ;
LOCATE COMP "RE1A" SITE "3" ;
LOCATE COMP "RE1B" SITE "8" ;
LOCATE COMP "RE2A" SITE "9" ;
LOCATE COMP "RE2B" SITE "10" ;
LOCATE COMP "RE3" SITE "1" ;
LOCATE COMP "RE4" SITE "2" ;
LOCATE COMP "SW_IN" SITE "53" ;
LOCATE COMP "SW_N" SITE "52" ;
LOCATE COMP "SW_P" SITE "54" ;
LOCATE COMP "UART_TX" SITE "38" ;
IOBUF PORT "CLK_32M" IO_TYPE=LVCMOS25 ;
LOCATE COMP "UART_RX" SITE "37" ;
LOCATE COMP "CON_START" SITE "36" ;
LOCATE COMP "CLK_OUT" SITE "31" ;
LOCATE COMP "LED2" SITE "13" ;
IOBUF PORT "SW_P" SLEWRATE=FAST IO_TYPE=LVCMOS25 DRIVE=4 ;
IOBUF PORT "SW_IN" SLEWRATE=FAST IO_TYPE=LVCMOS25 DRIVE=8 ;
IOBUF PORT "SW_N" SLEWRATE=FAST IO_TYPE=LVCMOS25 DRIVE=4 ;
LOCATE COMP "AZ_SW" SITE "18" ;
LOCATE COMP "PW1" SITE "19" ;
LOCATE COMP "PW2" SITE "20" ;
LOCATE COMP "SU_A" SITE "16" ;
LOCATE COMP "SU_B" SITE "17" ;
